In [2]:
import pandas as pd
d = [{'points': 50, 'time': '5:00', 'year': 2010}, 
     {'points': 25, 'time': '6:00', 'month': "february"}, 
     {'points':90, 'time': '9:00', 'month': 'january'}, 
     {'points_h1':20, 'month': 'june'}]

In [3]:
pd.DataFrame.from_dict(d)

      month  points  points_h1  time    year
0       NaN    50.0        NaN  5:00  2010.0
1  february    25.0        NaN  6:00     NaN
2   january    90.0        NaN  9:00     NaN
3      june     NaN       20.0   NaN     NaN