In [37]:
import pandas as pd
import requests

urltrain="https://github.com/jeonck/pythonPandas/raw/master/titanic.csv"
train=pd.read_csv(urltrain,index_col="PassengerId")

In [38]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 함수 동작 여부 테스트를 위한 코드 
#feature = 'Pclass'
#survived = train[train['Survived']==1][feature].value_counts()
#dead = train[train['Survived']==0][feature].value_counts()
#df = pd.DataFrame([survived,dead])
#df.index = ['Survived','Dead']
#df

In [39]:
def function(feature):    
    survived = train[train['Survived']==1][feature].value_counts()
    dead = train[train['Survived']==0][feature].value_counts()
    df = pd.DataFrame([survived,dead])
    df.index = ['Survived','Dead']
    return df

In [40]:
function('Pclass')

            1   2    3
Survived  136  87  119
Dead       80  97  372

In [41]:
function(feature = 'Sex')

          female  male
Survived     233   109
Dead          81   468